body{
  padding: 0;
  margin: 0;
}

body > div{
  width: 500px;
  margin: 50px auto;
  border: solid 1px black;
}

body > div div{
  height: 100px;
}

body > div > div,
body > div > div > div > div,
body > div > div > div > div > div > div,
body > div > div.alternative-row > div,
body > div > div.alternative-row > div > div > div {
  background: black;
}

body > div > div > div,
body > div > div > div > div > div,
body > div > div.alternative-row,
body > div > div.alternative-row > div > div,
body > div > div.alternative-row > div > div > div > div {
  background: white;
}

body > div > div {
  width: 500px;
}

body > div > div > div {
  width: 400px;
}

body > div > div > div > div {
  width: 300px;
}

body > div > div > div > div > div {
  width: 200px;
}

body > div > div > div > div > div > div {
  width: 100px;
}
