body{
  padding: 0;
  margin: 0;
}

body > div{
  width: 300px;
  margin: 100px auto;
}

div > div{
  width: 100px;
  height: 100px;
  background: red;
  margin: 0 auto;
}

div > div#middle{
  width: auto; /* Using CSS cascade to override width */
}
